<div class="container">
  <div class="logo-content">
    <img src="assets/images/logo.png" alt="Logo Terra Média" class="logo" />
    <span class="version-text">{{ versao }}</span>
  </div>
  <div class="user-content">
    <img
      src="assets/images/user-avatar.png"
      alt="User Avatar"
      class="user-avatar"
    />
    <div class="user-info">
      <span class="user-name">{{ usuario }}</span>
      <span class="user-role">{{ perfilDoUsuario }}</span>
    </div>
    <div class="user-actions">
      <a href="#" style="pointer-events: none" class="action-link"
        ><mat-icon>keyboard_arrow_down</mat-icon></a
      >
    </div>
  </div>
</div>
