@use "../../../styles/variables.scss";

.mat-mdc-header-cell,
.mat-mdc-cell {
  border-bottom-color: variables.$cell-color;
}

.search-label,
input.search-input::placeholder {
  font-size: 14px;
}

.mat-sort-header-content {
  color: variables.$text-color-3 !important;
}
