/* You can add global styles to this file, and also import other style files */

@use "./styles/variables.scss";
@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html,
body {
  background-color: variables.$primary-color;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
button,
td {
  font-family: "Poppins", sans-serif !important;
}

.mat-typography {
  font-family: "Poppins", sans-serif !important;
}

:root {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: variables.$tertiary-color,
    )
  );

  mat-card,
  mat-paginator,
  .mat-mdc-table,
  .mat-mdc-menu-panel {
    background: variables.$secondary-color;
  }

  mat-icon.mat-icon {
    color: variables.$tertiary-color;
  }
}
